/* 
   Importing colors from theme directory
*/

@import url("../waybar/colors-waybar.css");

*{
   font-size: 15px;
   font-family: Adwaita Mono;
   font-weight: 600;
   min-height: 0;
   padding-top: 0px;
   padding-bottom: 0px;
}

window#waybar {
   background: rgba(0, 0, 0, 0.3);
   color: @fg_color;
}

#workspaces button {
   background: @bg_color;
   color: @fg_color;
   margin: 2px;
   padding: 0px;
   border-radius: 4px;
}

#workspaces button:hover {
   background: @highlight_color;
   color: @invert_color;
   box-shadow: inherit;
   text-shadow: inherit;
}

#workspaces button.focused {
   background: @highlight_color;
   color: @invert_color;
}

#workspaces button.urgent {
   background: @urgent_color;
   color: @invert_color;
}

#scratchpad {
   background: @highlight_color;
   color: @invert_color;
   margin: 0px 0px 2px 0px;
   padding: 0px 8px;
   border-radius: 0px;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#tray {
   border-radius: 4px;
   margin: 2px;
   padding: 0px 4px;
}

#clock {
   color: #ffcc66;
   font-size: 18px;
}

#cpu {
   color: #BB9AF7;
}

#memory {
   color: #bb9af7;
}

#pulseaudio {
   color: #bb9af7;
}

#tray {
   background-color: @tray_color;
}

