/* 
   Importing colors from theme directory
*/

@import url("../waybar/colors-waybar.css");

*{
   font-size: 15px;
   font-family: DejaVu Sans Mono;
   font-weight: 600;
   min-height: 0;
   padding-top: 0px;
   padding-bottom: 0px;
}

window#waybar {
   background: rgba(0, 0, 0, 0.7);
   color: #E0E0E0;
}

#workspaces button {
   color: @fg_color;
   margin: 2px;
   padding: 0px;
   border-radius: 2px;
}

#workspaces button:hover {
   background: @highlight_color;
   color: @invert_color;
   box-shadow: inherit;
   text-shadow: inherit;
}

#workspaces button.focused {
   background: @highlight_color;
   color: @invert_color;
}

#workspaces button.urgent {
   background: @urgent_color;
   color: @invert_color;
}

#scratchpad {
   background: @highlight_color;
   color: @invert_color;
   margin: 0px 0px 2px 0px;
   padding: 0px 8px;
   border-radius: 0px;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#tray {
   border-radius: 4px;
   margin: 2px;
   padding: 0px 4px;
}

#clock {
   color: #7AA2F7;
   font-size: 18px;
}

#cpu {
   color: #7AA2F7;
}

#memory {
   color: #7AA2F7;
}

#pulseaudio {
   color: #7AA2F7;
}


#idle_inhibitor {
    color: #7AA2F7;
    padding: 0px 0.36em; /* 6px */
}
#idle_inhibitor.activated{
    padding: 0px 0.4em 0px 0.4em;
}




#tray {
   color: #7AA2F7;
}
