/* 
   Importing colors from theme directory
*/

*{
   font-size: 15px;
   font-family: DejaVu Sans Mono;
   font-weight: 600;
   min-height: 0;
   padding-top: 0px;
   padding-bottom: 0px;
}

window#waybar {
   background: rgba(0, 0, 0, 0.8);
   color: #8AE7FF;
}

#workspaces button {
   color: #CFFCFF;
   margin: 2px;
   padding: 0px;
   border-radius: 2px;
}

#workspaces button:hover {
   background: #8AE7FF;
   color: #1A1B26;
   box-shadow: inherit;
   text-shadow: inherit;
}

#workspaces button.focused {
   background: #8AE7FF;
   color: #1A1B26;
}

#workspaces button.urgent {
   background: #F7768E;
   color: #1A1B26;
}

#scratchpad {
   background: #7AA2F7;
   color: #1A1B26;
   margin: 0px 0px 2px 0px;
   padding: 0px 8px;
   border-radius: 0px;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#idle_inhibitor,
#tray {
   border-radius: 4px;
   margin: 2px;
   padding: 0px 4px;
}

#clock {
   color: #8AE7FF;
   font-size: 18px;
}

#cpu {
   color: #8AE7FF;
}

#memory {
   color: #8AE7FF;
}

#pulseaudio {
   color: #8AE7FF;
}

#inhibitor {
    color: #E0E0E0;
}
#inhibitor.activated{
    color: #FF8900;
}

#tray {
   color: #8AE7FF;
}
